<!DOCTYPE html>
<html lang="en">
    {% include 'head2.html' %}
   <body text-align="center">
    {% include 'navigation2.html' %}
    <br>
        <br>
        <br>
      <!-- <div class="container"> -->
        <div class="wrapper wrapper-full-page ">
			<div class="full-page section-image" filter-color="black" data-image="../../static/img/bg/fabio-mangione.jpg">
			
			<div class="content">
			<div class="container">
			<div class="col-lg-4 col-md-6 ml-auto mr-auto">
                <div class="card card-signup text-center">
                    <div class="card-header ">
                    <h4 class="card-title">Forgot password</h4>
        <div class="card-body ">
         <form method="POST" action="/forgot_password">
            <div class="form-group">
               <label for="email">Enter Your Email:</label>
               <input type="email" id="email" name="email" required>
            </div>
            <button type="submit">Send OTP</button>
         </form>
      <!-- </div> -->
   </body>
</html>