<!DOCTYPE html>
<html>
   {% include 'head.html' %}
   <body>
      {% include 'navigation.html' %}
      <!-- <div class="container"> -->
         <h2>Image Gallery</h2>
         <form action="/gallery" method="post" enctype="multipart/form-data">
            <input type="file" name="files" multiple>
            <input type="submit" value="Upload">
         </form>
         <div class="row">
            {% for image in images %}
            <div class="col-md-4">
               <div class="thumbnail">
                  <a href="/uploads/{{ image['user_id'] }}/{{ image['filename'] }}" target="_blank">
                     <img src="/uploads/{{ image['user_id'] }}/{{ image['filename'] }}" alt="image not displayed" style="width:70%">
                     <form method="POST" action="/delete/{{image['user_id']}}/{{image['filename']}}" style="display: inline;">
                        <button type="submit" style="font-size:24px"><i class="fa fa-trash-o"></i></button>
                     </form>
                     <br>
                     <br>
                  </a>
               </div>
            </div>
            {% endfor %}
         <!-- </div> -->
      </div>
   </body>
</html>