<div class="wrapper ">
   <div class="sidebar" data-color="white" data-active-color="danger">
     <div class="logo">
       <a href="https://www.creative-tim.com" class="simple-text logo-mini">
         <div class="logo-image-small">
           <img src="../static/img/logo-small.png">
         </div>
         <!-- <p>CT</p> -->
       </a>
       <a href="https://www.creative-tim.com" class="simple-text logo-normal">
         Chaitu
         <!-- <div class="logo-image-big">
           <img src="../assets/img/logo-big.png">
         </div> -->
       </a>
     </div>
     <div class="sidebar-wrapper">
       <ul class="nav">
         <!-- <li class="active ">
           <a href="./dashboard.html">
             <i class="nc-icon nc-bank"></i>
             <p>Dashboard</p>
           </a>
         </li> -->
         <li>
           <a href="profile">
             <i class="nc-icon nc-single-02"></i>
             <p>Profile</p>
           </a>
         </li>
         <li>
           <a href="gallery">
             <i class="nc-icon nc-diamond"></i>
             <p>Gallery</p>
           </a>
         </li>
         <li>
           <a href="videos">
             <i class="nc-icon nc-diamond"></i>
             <p>Videos</p>
           </a>
         </li>
         <li>
           <a href="editprofile">
             <i class="nc-icon nc-single-02"></i>
             <p>Edit Profile</p>
           </a>
         </li>
         <li>
           <a href="download">
             <i class="nc-icon nc-bell-55"></i>
             <p>UTube Downloader</p>
           </a>
         </li>
         <li>
           <a href="geolocation">
             <i class="nc-icon nc-pin-3"></i>
             <p>Maps</p>
           </a>
         </li>
         <li>
           <a href="iplocation">
             <i class="nc-icon nc-bell-55"></i>
             <p>IP Address</p>
           </a>
         </li>
         <li>
            <a href="{{url_for('logout')}}">
              <i class="glyphicon glyphicon-log-out"></i>
              <p>Logout</p>
            </a>
          </li>
       </ul>
     </div>
   </div>
   <div class="main-panel">
     <!-- Navbar -->