<nav class="navbar navbar-default">
    <div class="container-fluid">
       <!-- <div class="navbar-header">
          <!-- <a class="navbar-brand" href="#">M</a> -->
       <!-- </div> -->
       <ul>
    <li><a href="home">Home</a></li>
    <li><a href="profile">Profile</a></li>
    <li><a href="gallery">Gallery</a></li>
    <li><a href="videos">Videos</a></li>
    <li><a href="editprofile">Edit Profile</a></li>
    <li><a href="download">Download</a></li>
    <li style="float:right"><a class="active" href="{{url_for('logout')}}">Logout</a></li>
  </ul>
    </div>