<!DOCTYPE html>
<html>
  {% include 'head.html' %}
<body align="center">
  {% include 'navigation.html' %}

<h1>WELCOME USER</h1>
<form action="/profile" >
<h3>keep your courser on pic</h3>
<div class="container">
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="\static\mbappe.jpg" alt="Img not found" style="width:400px;height:300px;">
    </div>
    <div class="flip-card-back">
       {% if users is defined and users %}
  <h1>{{ users["username"] }}</h1>
  <p>PersonID: {{ users["personid"] }}</p>
  
  <p>Email: {{ users["email"] }}</p>
  <p>Mobile: {{ users["phonenum"] }}</p>
 {% endif %}
    </div>
  </div>
</div>
</div>
<br>
<br>
</form>

  <h2>
<marquee bgcolor="yellow">This user copyrights to &copy; {{ users["username"] }}</marquee>
</h2>
</form>
</body>
</html>
