<html>
   {% include 'head2.html' %}
   
   <body align="center">
      
      <br>
      <br>
      <br>
      <br>
      <!-- <div class="container"> -->
         <h2>Admin Registration </h2>
         <form action="{{ url_for('register') }}" method="post">
            {% if message is defined and message %}
            <div class="alert alert-warning"> <strong> {{ message }} </strong></div>
            {% endif %}
            <br>
            <div class="form-group">
               <input type="hidden" class="form-control" name="register">
            </div>
            <br>
            <div class="form-group">
               username: <input type="text" class="form-control" id="username" name="username" placeholder="Enter name" name="username">
            </div>
            <br>
            <div class="form-group">
               Email: <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" name="email">
            </div>
            <br>
            <div class="form-group">
               Phone number: <input type="number" class="form-control" pattern="\d{1,5}" id="phonenum" name="phonenum" placeholder="Enter phone number" name="pswd">
            </div>
            <br>
            <div class="form-group">
               Password: <input type="password" class="form-control" pattern="[A-Za-z0-9]{8,16}" id="password" name="password" placeholder="Enter password" name="pswd">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Register</button>
            <p class="bottom">Already have an account? <a class="bottom" href="{{url_for('login')}}"> Login here</a></p>
         </form>
      <!-- </div> -->
   </body>
</html>